html {
    background-color: #efefef !important;
}
body {
    background-color: #efefef;
}
[v-cloak] {display: none}
.home-container {
    margin: auto;
    width: 25%;
}
.simple-form {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.nav-background {
    background: #d3d3d3;
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.card-width-center {
    margin: auto;
    width: 85%;
}
.card-background {
    background: #575757;
}
.linen-text {
    color: #faf0e6;
}
.cornflower-blue {
    color: #6495ed;
}
.center-images {
    margin: auto;
    width: 50%;
}