html,
body {
    height: 100%;
    background-color: #efefef;
}
.home-container {
    margin: auto;
    width: 25%;
}
.simple-form {
    margin: auto;
    width: 20%;
}
.nav-background {
    background: #d3d3d3;
}
.footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
}
.card-width-center {
    margin: auto;
    width: 85%;
}
.card-background {
    background: #575757;
}
.linen-text {
    color: #faf0e6;
}
.cornflower-blue {
    color: #6495ed;
}